@import "./reset.scss";
@font-face {
    font-family: 'pokemon';
    src: url(Fonts/PKMNRSEU.ttf);
}
body{
    font-family: 'pokemon';
    text-transform: uppercase;
    background-color: rgb(20, 20, 19);
    position: relative;
    margin: 0;
    padding: 0;
}
.Poke-nav{
    background-color: rgb(119, 119, 119);
    border: 10px groove rgb(71, 71, 69);
    border-radius: 8px;
    padding: 0;
}
.search-bar-box{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.search-bar{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.search-bar-bar{
    border-radius: 5px;
    display: flex;
    text-transform: capitalize;
    font-family: 'pokemon'; 
    font-weight: bold;
    font-size: 15px;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 30px;
    padding: 0;
}
#pokepossibility{
    display: flex;
    flex-direction: column; 
    z-index: 7;
}
.pokeAutoList{
    border-radius: 5px;
    background-color: #ccc;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    position: absolute;
    flex-direction: column;
    width: 205px;
    
}
.pokeAutoLi{
    padding: 5px 0;
}
.pokeAutoLi:hover{
    background: #eee;
    cursor: pointer;
}

.poke-button{
    text-transform: uppercase;
    border-radius: 5px;
    background-color: rgb(38, 44, 38);
    color: antiquewhite;
    padding: 3px 5px;
    margin: 4px 6px;

}
.poke-button:hover{
    cursor:pointer;
}
#pokedex{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    text-shadow: 3px 2px 2px #2c2c2c;
}
#poke-title{
    display: flex;
    justify-content: center;
    text-shadow: 3px 2px 2px #2c2c2c;
}
.shiny{
    background-color: rgb(132, 133, 71);
    border-radius: 15px;
    margin-top: 2px;
}
.poke-list{
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    padding: 0;
}
.poke-li{
    display: flex;
    width: 200px;
    margin: 20px;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border-radius: 30px;
    background-color: rgb(87, 85, 85); 
    box-shadow: -17px -2px 34px 1px rgba(51,51,51,0.75) inset;
    filter: drop-shadow(6px 2px 2px #000);
}
.type-box{
    display:flex;
    flex-direction: row;
}
.type{
    font-size: 11px;
    width: 50px;
    height: 12px;
    text-align: center;
    color:antiquewhite;
    margin: 0 0 7px 7px;
    padding: 3px;
    border-radius: 5px;
    text-shadow: 3px 2px 2px #000000;
    box-shadow: 4px 3px 2px #000;
}
.type:hover{
    cursor:pointer;
}
.type[pokemon-type='grass']{
    background-color: rgb(38, 158, 38);
}
.type[pokemon-type='poison']{
    background-color: rgb(107, 16, 126);
}
.type[pokemon-type='fire']{
    background-color: rgb(219, 57, 17);
}
.type[pokemon-type='flying']{
    background-color: rgb(171, 84, 230);
}
.type[pokemon-type='water']{
    background-color: rgb(78, 67, 235);
}
.type[pokemon-type='bug']{
    background-color: rgb(105, 253, 7);
}
.type[pokemon-type='normal']{
    background-color: rgb(88, 90, 88);
}
.type[pokemon-type='electric']{
    background-color: rgb(248, 225, 14);
}
.type[pokemon-type='ground']{
    background-color: rgb(145, 125, 14);
}
.type[pokemon-type='fairy']{
    background-color: rgb(231, 110, 161);
}
.type[pokemon-type='fighting']{
    background-color: rgb(155, 16, 16);
}
.type[pokemon-type='psychic']{
    background-color: rgb(212, 10, 152);
}
.type[pokemon-type='rock']{
    background-color: rgb(112, 90, 72);
}
.type[pokemon-type='ice']{
    background-color: rgb(56, 199, 180);
}
.type[pokemon-type='ghost']{
    background-color: rgb(115, 68, 177);
}
.type[pokemon-type='dragon']{
    background-color: rgb(72, 29, 170);
}
.type[pokemon-type='dark']{
    background-color: rgb(38, 44, 38);
}
.type[pokemon-type='steel']{
    background-color: rgb(162, 163, 162);
}
 .mew{
    position: relative;
}

.typebuttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    padding: 20px;
    margin: 0;
    gap: 10px;
}
.noPokemonFound{
    color:antiquewhite;
}
.truck{
    height: 182px;
    background-color: rgb(87, 85, 85);
    width: 199px;
    position:absolute;
    border-radius: 21px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.truck:hover{
    cursor: pointer;
}
.truck-pic{
    width: 120px;
    height: 79px;
    padding: 11px;
    padding-left: 30px;
}
.truck-P{
    color: antiquewhite;
    display: flex;
    justify-content: center;
    font-size: 14px;
}
.missingno{
    height: 172px;
    background-color: rgb(87, 85, 85);
    width: 199px;
    border-radius: 21px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.missingno-pic{
    width: 50px;
    height: 90px;
    padding-left: 80px;
}
.missingno-p{
    display: flex;
    justify-content: center;
}